/* Login */

.avatar-select {
  border: 1px solid gray;
  border-radius: 5px;
}

.avatar-item:hover {
  border: 1px solid gray;
  border-radius: 5px;
}

/* Chat */

.body-panel {
  overflow-y: auto;
  height: 300px;
}

.dropdown-menu.userlist {
  padding-left: 10px;
}

.media.user-message {

}

.media.user-message .avatar {
  height: 50px;
  width: 50px;
}

.media.user-message .glyphicon-time {
  margin-right: 5px;
}

.media.user-message .message-text {
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  word-break: break-all;
  word-wrap: break-word;
}

.media.user-message .message-stamp {
  height: 150px;
  width: 150px;
}

.media.event-message {
  padding-top: 1px;
  padding-bottom: 1px;
  word-break: break-all;
  word-wrap: break-word;
}

.messageFade-enter {
  opacity: 0.01;
  padding-left: 50px;
  padding-right: 50px;
}

.messageFade-enter.messageFade-enter-active {
  opacity: 1;
  padding-left: 1px;
  padding-right: 1px;
  transition:
    opacity 150ms ease-in,
    padding-left 150ms ease-out,
    padding-right 150ms ease-out;
}

.messageFade-leave {
  opacity: 1;
}

.messageFade-leave.messageFade-leave-active {
  opacity: 0.01;
  transition: opacity 100ms ease-in;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
    scroll-snap-align: end;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #999;
}